aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
attrs
banks
bcrypt
beautifulsoup4
build
certifi
charset-normalizer
chromadb
click
colorama
dataclasses-json
defusedxml
Deprecated
dirtyjson
distro
durationpy
filelock
filetype
flatbuffers
frozenlist
fsspec
googleapis-common-protos
greenlet
griffe
griffecli
griffelib
grpcio
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
importlib_resources
iniconfig
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kubernetes
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-instrumentation
llama-index-llms-openai
llama-index-readers-file
llama-index-vector-stores-chroma
llama-index-workflows
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
networkx
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pillow
platformdirs
pluggy
propcache
protobuf
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
pypdf
PyPika
pyproject_hooks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
ruff
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
striprtf
sympy
tenacity
threadpoolctl
tiktoken
tinytag
tokenizers
torch
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websocket-client
websockets
wrapt
yarl
